
<div class="container" align="center">
<img src="/img/burger.png" height="25%" width="25%" class="image">
<h1>burgers you can eat</h1>



<div class="burger-container">
  <ul class="list-group">
    {{#each burgers}}
    {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
   <li class="list-group-item"> <p>{{ this.burger_name }} <button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}} name="devoured">Eat the burger
	</button></p> </li>

  {{/unless}}
    {{/each}}
  </ul>
</div>
<br><br>


<h1>Eaten Burgers</h1>
<div class="eaten" >
<ul class="list-group">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
     <li class="list-group-item"> <p>{{ this.burger_name }}</p></li> 
    {{/if}}
  {{/each}}
</ul>

</div>
</div>
<br><br>

<form class="create-form" align="center">
  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger_name" name="name">
  </div>
  <button type="submit" class="btn small btn-success">Add Burger</button>
</form>